@model EndangeredSpecies.ViewModels.PartialSpeciesViewModel

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SpCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PopAbbrev)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PopAbbrev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PopDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PopDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TSN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TSN)
        </dd>

    </dl>
</div>
