@model FuelEconomy.Models.Vehicle

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CityMilage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CityMilage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Displacement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Displacement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DriveId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DriveId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FuelCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FuelCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FuelTypeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FuelTypeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HywayMilage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HywayMilage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MakeiId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MakeiId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransmissionId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransmissionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VehicleClassId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VehicleClassId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
